# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build files
dist/
.cache/

# Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db 